[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyperclip = "*"
requests = "*"
beautifulsoup4 = "*"
yt-dlp = "*"
pypdf2 = "*"
tk = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.10"
